<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home Page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <style>
            .main{
             width: 1200px;
             background-color: red;
            } 
         </style>
    </head>
    <body>
        <h1>HELLO!</h1> 
        <div class = "main"><p>I want you to know that this is the Home Page.....</p></div>
        <p>I want you to know that this is the Home Page.....</p>
       
    </body>
</html>